# Ignore build artifacts
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
build.ninja
*.ninja

# Ignore libraries and binaries
lib/
bin/
*.a
*.o
ThaiCheckers

# Testing artifacts
Testing/
tests/*/CMakeFiles/

# IDE files
.vscode/

# Ignore coverage reports and related files
overlay/
coverage*
*.gcov
coverage_html*/
