# Build directories and files
/build/
lib/
bin/
coverage_html/
Testing/
tests/*/CMakeFiles/

# CMake and build system files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile
build.ninja
*.ninja

# Compiled object and library files
*.a
*.o
ThaiCheckers

# IDE and OS-specific files
.vscode/

# Ignore coverage reports and related files
overlay/
coverage*
*.gcov
coverage_html*/
.DS_Store
